@model IEnumerable<StoreSite.Models.Classes.StoreItem>


@{
    ViewData["Title"] = "CurrentStock";
}

<div class="bg-white ">
    <h2 class="md-4">Current Stock Information</h2>
    <div class="card">
        <div class="card-header">
            <h4 class="text-black-50">Packages</h4>
        </div>
        <div class="card-body">

            <div class="col-12 md-2 mb-2">
                <div class="text-right" style="margin-top:20px;">
                    <a asp-area="" asp-controller="PackagePromotion" asp-action="Rate" asp-route-id="@ViewBag.id" class="btn btn-secondary"><i class="fas fa-plus"></i>&nbsp;Add Package</a>
                </div>
            </div>
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th class="col-2">
                            Product Name
                        </th>
                        <th class="col-2">
                            Thumbnail Description
                        </th>
                        <th class="col-2">
                            Long Description
                        </th>
                        <th class="col-2">
                            Thumbnail Image Address
                        </th>
                        <th class="col-2">
                            Large Image Address
                        </th>
                        <th class="col-2">
                            Base Pricing (No Discounts)
                        </th>
                        <th class="col-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DescriptionS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DescriptionL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pricing)
                            </td>
                            <td id="@item.ID">
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                @*<a class="btn btn-primary btn-lg expandDetailsButton" id="expandDetailsButton">Enlarge</a>|*@
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/CurrentStock.js"></script>