@model IEnumerable<StoreSite.Models.Classes.StoreItem>


@{
    ViewData["Title"] = "CurrentStock";
}

<h1>CurrentStock</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Thumbnail Description
            </th>
            <th>
                Long Description
            </th>
            <th>
                Thumbnail Image Address
            </th>
            <th>
                Large Image Address
            </th>
            <th>
                Base Pricing (No Discounts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pricing)
                </td>
                <td id="@item.ID">
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="btn btn-primary btn-lg expandDetailsButton" id="expandDetailsButton">Enlarge</a>|
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/CurrentStock.js"></script>