@model StoreSite.Models.Classes.StoreItem

@{
    ViewData["Title"] = "Details";
}
<body>
    <div class="col-12 row" style="padding-top:10px;">
        <div class="col-9">
            <h1>
                @Html.DisplayFor(n => n.Title)
            </h1>
        </div>
        <div class="col-3">
            <h3>
                # ID - @Html.DisplayFor(n => n.ID)
            </h3>
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-6">
            <img height="400" style="background-color:dimgrey; width:100%" src="~/Images/Product Images/@Html.DisplayFor(n => n.ImageL)"/>
        </div>
        <div class="col-6">
            <h3>
                Price: £100
            </h3>
            <hr />
            <div class="w-100">
                <h3 class="w-100">
                    Description
                </h3>
                <p class="w-100 overflow-hidden" style="padding-top:10px; height:250px;">
                    @Html.DisplayFor(n => n.DescriptionS)
                </p>
            </div>
        </div>
    </div>
    <div class="col-12" style="padding:10px; height:400px; overflow-y:scroll;">
        <h3 class="w-100">
            Further Details
        </h3>
        <p class="w-100">
            @Html.Raw(Model.DescriptionL)
        </p>
    </div>
    <div class="col-12" style="padding-bottom:20px;">
        <h3>
            Related Products
        </h3>
        <div class="w-100 row" style="overflow-x:scroll;"></div>
        @for (int i = 0; i < 3; i++)
        {
            <div class="col-md-4 listing row" style="float:left; padding-bottom:20px;">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <p class="card-text">Product Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @Html.ActionLink("Details", "Details", new {}, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                                @Html.ActionLink("Details", "Details", new {}, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                            </div>
                            <small class="text-muted">ID NUMBER</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
</body>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@





@*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pricing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pricing)
        </dd>
    </dl>*@