@model IEnumerable<StoreSite.Models.Classes.StoreItem>

@{
    ViewData["Title"] = "Listings";

    int processed = 0;
}

<head>
    <link href="~/css/General.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div>
        <h4 style="margin-top:20px;">Hot Deals</h4>
        <div id="carouselExampleControls" class="carousel slide col-12" data-ride="carousel" style="max-height:400px; margin-top:20px; margin-bottom:20px; border-radius:.25rem !important;">

            <div class="carousel-inner" style="max-height:400px;">
                <div class="carousel-item active" style="max-height:400px;">
                    <img class=" w-100" src="~/Images/Product Images/landscape_box_1.jpg" alt="First slide" style="max-height:inherit; object-fit:fill;">
                    <p>Recommended Item 1</p>
                </div>
                <div class="carousel-item" style="max-height:400px;">
                    <img class=" w-100" src="~/Images/Product Images/landscape_box_2.jpg" alt="Second slide" style="max-height:inherit; object-fit:fill;">
                    <p>Recommended Item 2</p>
                </div>
                <div class="carousel-item" style="max-height:400px;">
                    <img class=" w-100" src="~/Images/Product Images/landscape_box_3.jpg" alt="Third slide" style="max-height:inherit; object-fit:fill;">
                    <p>Recommended Item 3</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="col-12 d-inline-flex">
            <form asp-action="FilterListings" asp-controller="Store">
                <div class="col-3">

                    <h4>Filter</h4>
                    <div class="row">
                        <div class="filterSection col-lg-12">
                            <p class="filterTitle">Input 1</p>
                            <input type="text" name="input1" />
                        </div>
                        <hr />
                        <div class="filterSection col-lg-12">
                            <p class="filterTitle">Input 2</p>
                            <input type="text" name="input2" />
                        </div>
                        <hr />
                        <div class="filterSection col-lg-12">
                            <p class="filterTitle">Input 3</p>
                            <input type="text" name="input3" />
                        </div>
                        <hr />
                        <div class="filterSection col-lg-12">
                            <p class="filterTitle">Input 4</p>
                            <input type="text" name="input4" />
                        </div>
                    </div>
                    <br />

                    <input type="submit" name="submit" value="Submit" />
                    <hr />
                </div>
            </form>
            <div class="col-9">
                <div class="table col-lg-12 listing w-100">
                    <h4 style="padding-left:43%">Cheap Options</h4>


                    <div class="container">

                        <div class="row">

                            @foreach (var item in Model.Where(n => n.Pricing < 10))
                            {
                                <div class="col-md-4 listing">
                                    <div class="card mb-4 shadow-sm">
                                        <img class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" src="~/Images/Product Images/@Html.DisplayFor(n => item.ImageS)" />
                                        <div class="card-body">
                                            <p class="card-text">@Html.DisplayFor(model => item.Title)</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                                                </div>
                                                @*<small class="text-muted">@Html.DisplayFor(model => item.Category)</small>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (++processed == 3)
                                {
                                    processed = 0;
                                    break;
                                }
                            }

                        </div>
                    </div>

                    <h4 style="padding-left:38%; background-attachment: fixed;">All Items</h4>


                    <div class="container">

                        <div class="row">

                            @foreach (var item in Model)
                            {
                                <div class="col-md-4 listing">
                                    <div class="card mb-4 shadow-sm">
                                        <img class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" src="~/Images/Product Images/@Html.DisplayFor(n => item.ImageS)" />
                                        <div class="card-body">
                                            <p class="card-text">@Html.DisplayFor(model => item.Title)</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                                                </div>
                                                @*<small class="text-muted">@Html.DisplayFor(model => item.Category)</small>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>



                    @*@foreach (var item in Model)
                    {
                        <div class="listingThumbnail ">

                            <h6 class="thumbnailHeader">
                                @Html.DisplayFor(modelItem => item.ID)
                            </h6>
                            <h6 class="thumbnailHeader">
                                @Html.DisplayFor(modelItem => item.Title)
                            </h6>
                            <p thumbnailText="thumbnailText">
                                @Html.DisplayFor(modelItem => item.DescriptionS)
                            </p>

                            <hr />
                            <div class="btn-group-lg">

                                @Html.ActionLink("Details", "Preview", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })
                                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-secondary", @role = "button" })

                            </div>
                        </div>
                    }*@
                </div>
            </div>
        </div>






    </div>
</body>